body{
    background-color: cadetblue;
    box-sizing: border-box;
}


#cardContainer{
    display: flex;
    justify-content: row;
    justify-content: center;
    height: 200px;
}

header{
    display: flex;
    justify-content: center;
}

#instructions{
    width: 400px;
    /* border: 2px solid black */
}

.card{
    width: 100px;
    border: 10px solid cadetblue;
    background-color: green;
}

#resetButton {
    display: block;
    margin: 0 auto;
}